@charset "utf-8";

/*公共样式*/
body{
	background: #fff;
}
*{
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #969696;
	font-family: '宋体', Microsoft YaHei, Tahoma, Arial, sans-serif;
}

body {
	font-family: '宋体', Microsoft YaHei, Tahoma, Arial, sans-serif;
}