<div>
	<div class="logo">
		<img src="img/apple-icon.png" />
		<p>每日一文</p>
	</div>
	<div class="header">
		<a href="#/index">文章</a>
		<a href="#/voice">声音</a>
	</div>
	<div class="container">
		<h2 class="articleTitle">关于每日一文</h2>
		<div class="articleContent">
			<p>每日一文是一个简单的中文阅读网站。</p><br />
			<p>没有繁复的登录注册，没有复杂的算法，不猜你喜欢。 我们相信阅读和人之间微妙的关系。</p><br />
			<p>每天花10分钟阅读一篇文章，一个月可以有大约50000字的阅读量，一年有近60万字的阅读量，专注、执着，每天阅读。</p><br />
			<p>只为简单的纯净的阅读而生。</p><br />
			<p>简单生活，每日一文。</p><br />
			<p>联系我们：</p><br />
			<p>
				<a href="mailto:contact@meiriyiwen.com?subject=一千个对每日一文的问题">
				contact@meiriyiwen.com
                </a>
			</p><br />
		</div>
		<div class="randomBox">
			<a href="#/index">开始阅读</a>
		</div>
	</div>
	<div class="header">
		<a href="#/index">文章</a>
		<a href="#/voice">声音</a>
	</div>
</div>
<footer></footer>
<div ui-view=""></div>
<style>
	.articleContent{
		text-indent: 0em;
		font-size: 24px;
	}
	
</style>